.box {
    background-color: #ffffff;
}

.title {
    color: #9a9a9a;
    font-size: 1.2rem;
    padding: 1rem 1rem 1rem 0.4rem;
}

.name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.slide-container {
    display: -webkit-box;
    flex-wrap: inherit;
    overflow-x: scroll;
}

.slide-container>.item {
    width: 28%;
    margin: 0.4rem;
    text-align: center;
    height: 8rem;
}