<div class="box">
  <div class="title">
    {{title}}
  </div>
  <div class="slide-container">
    <ion-grid>
      <ion-row class="horizontal">
        <ion-col size="3" class="center" *ngFor="let item of items1;let i = index" (click)="selectItem(item)">
          <img [src]="item.image.url" alt="imag" width="101px" height="89px">
          <div class="name">
            {{item.name}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="horizontal">
        <ion-col size="3" class="center" *ngFor="let item of items2;let i = index" (click)="selectItem(item)">
          <img [src]="item.image.url" alt="imag" width="101px" height="89px">
          <div class="name">
            {{item.name}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>